# Recreate the ipset if needed, and flush all entries
create -exist ip_allow hash:ip family inet hashsize 1024 maxelem {{ iptables_docker_ipset_maxelem }}

{% if ansible_distribution == "Ubuntu" %}
flush
{% endif %}

# Give access to specific ips
# add ip_allow 192.168.100.0/24
# add ip_allow 192.168.101.0/24
# add ip_allow 192.168.102.0/24

# { % for server in groups['docker_hosts'] % }
# add ip_allow { { hostvars[server].ansible_host } }
# { % endfor % }

# Docker Server IPs
{% for server in iptables_docker_server_ip_allow_set %}
add ip_allow {{ server }}
{% endfor %}

# User added trusted/allowed IPs
{% for ipaddress in iptables_docker_ip_allow_set -%}
add ip_allow {{ ipaddress }}
{% endfor %}
